---
version: '3.7'
services:
  api:
    environment:
      VIRTUAL_HOST: api.amanze.local
      DB_HOST: database
      DB_USER: platform-api
      DB_DATABASE: platform-api
      DB_PASSWORD: database_password

  database:
    expose:
      - "5432"
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: platform-api
      POSTGRES_USER: platform-api      
      POSTGRES_PASSWORD: database_password
